* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#footer_part {
    background-image: url("images_footer/footer_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    border: none !important;
    position: relative;
    width: 100%;
}
#footer_content {
    display: flex;
    justify-content: space-around;
    /* border-style: solid; */
    border-right: 6px red solid;
    margin: 0;
    padding-top: 350px;
}

#footer_text {
    text-align: center;
    display: inline-block;
    color: rgb(151, 147, 147);
}

#footer_social_medias {
    text-align: right;
    display: inline-block;
    color: rgb(151, 147, 147);
    border: 6px red solid;
    width: 100px;
}

#footer_rights {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    bottom: 0;
    height: 30px;
    width: 100%;
    position: absolute;
}

#before_footer_content {
    min-height: 100%;
}

